// set custom hex colors
// use `elements` page to preview (http://localhost:6248/elements/)
$siteBgColorCustom: #FFFFFF;          // Page Background      (White)
$sidebarBgColorCustom: #F2F5F7;       // Sideback Background  (Pewter)
$textColorCustom: #1E2225;            // Main Text            (Ebony)
$sidebarTextColorCustom: #1E2225;     // Sidebar Text         (Ebony)
$headlineColorCustom: #1E2225;        // Headline Text        (Ebony)
$headingColorCustom: #1E2225;         // Heading Text         (Ebony)
$bodyLinkColorCustom: #E56A19;        // Body Links           (Burnt_Sienna)
$navLinkColorCustom: #E56A19;         // Nav Links            (Burnt_Sienna)
$sidebarLinkColorCustom: #E56A19;     // Sidebar Links        (Burnt_Sienna)
$footerTextColorCustom: #05263B;      // Footer Text          (Blue_Grotto)
$buttonTextColorCustom: #F1B416;      // Button Text          (Goldenrod)
$buttonHoverTextColorCustom: #F1B416; // Button Hover Text    (Goldenrod)
$buttonBgColorCustom: #05263B;        // Button Background    (Blue Grotto)
$buttonHoverBgColorCustom: #D3DADA;   // Button Hover         (Pewter)
$borderColorCustom: #F1B416;          // Border Color         (Goldenrod)
